extends ../layouts/_default

block content
  section
    h1 GraphQL
    h3 
    
    p
      small
        a(href="//github.com/zenoplex") Gen(@zenoplex)
        
    img.img.img__avatar.img--circle(src="/images/8bitprice.svg" width="150" height="150")
  
  include ../partials/_introduction
  
