section
  h2 自己紹介

section
  img.img.img__avatar.img--circle(src="/images/profile.jpg" width="150" height="150")
  h2
    i some random
    br
    small インタラクションデザイナー
    
  ol
    li 某コンサル会社
    li mother inc
    li バスキュール
    li フリーランス
    li Feedforce Inc.,
  
